@model AgingInHome.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}



<div class="maincontainer">
    <div class="listingDiv article ">

        <div class="col-lg-offset-3 col-md-7 forgotPassword">
            <h1 class="title">
                <span class="bg">
                    Lost your password?
                </span>
            </h1>
            <div class="orangeTxt">Please enter your user name or email address. You will receive a link to create a new password via email</div>
            <hr />
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal forgotPasswordForm", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <br />

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Please enter your Email Id" })
                </div>
                <div class="col-xs-12 form-button text-center">
                    <button class="btn btn-primary" type="submit">Reset Password</button>
                </div>
            }

        </div>
    </div>
</div>








@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
