@{
    ViewBag.Title = "Become Provider";
    Layout = "~/Views/Shared/_Layoutnew1.cshtml";
}
<!-- Main Container -->
<div class="main-container inner-container">
    <div class="container">
        <h1 class="main-title">Become a <span>PROVIDER</span></h1>

        <!-- Content Box -->
        <div class="contentBox" style="margin-bottom:100px;">

            <!-- Package Content -->
            <div class="PackageContent">
                <!-- Title -->
                <div class="title">
                    <h2>Package options</h2>
                    Select the plan that suits you.Upgrade, downgrade, or cancel anytime.
                </div>
                <!-- //Title -->
                <!-- Pricing Table -->
                <div class="pricingTable">
                    <div class="row">
                        <div class="col-sm-3">
                            <!-- Column -->
                            <div class="column">
                                <div class="title">
                                    <h3>Premium</h3>
                                    <div class="price"><span>$</span>299</div>
                                    <div class="date">Per Month</div>
                                </div>
                                <ul class="listContent">
                                    <li>
                                        Directory Listing on Aging In Home
                                    </li>
                                    <li>
                                        Consumers can find and contact your business through the Aging In Home Platform
                                    </li>
                                    <li>
                                        Social Media Managment
                                        <span>Five Network, Six posts per week / network Graphics & monorting</span>
                                    </li>
                                    <li>
                                        Social Media Linking <span>At Setup</span>
                                    </li>
                                    <li>
                                        Social Media Linking <span>At Setup</span>
                                    </li>
                                </ul>

                                <div class="button">
                                    <a href="#">Subscribe Now</a>
                                </div>
                            </div>
                            <!-- //Column -->
                        </div>
                        <div class="col-sm-3">
                            <!-- Column -->
                            <div class="column orangeCol">
                                <div class="title">
                                    <h3>Plus</h3>
                                    <div class="price"><span>$</span>299</div>
                                    <div class="date">Per Month</div>
                                </div>
                                <ul class="listContent">
                                    <li>
                                        Directory Listing on Aging In Home
                                    </li>
                                    <li>
                                        Consumers can find and contact your business through the Aging In Home Platform
                                    </li>
                                    <li>
                                        Social Media Managment
                                        <span>Five Network, Six posts per week / network Graphics & monorting</span>
                                    </li>
                                    <li>
                                        Social Media Linking <span>At Setup</span>
                                    </li>
                                    <li>
                                        Social Media Linking <span>At Setup</span>
                                    </li>
                                </ul>

                                <div class="button">
                                    <a href="#">Subscribe Now</a>
                                </div>
                            </div>
                            <!-- //Column -->
                        </div>
                        <div class="col-sm-3">
                            <!-- Column -->
                            <div class="column">
                                <div class="title">
                                    <h3>Simple</h3>
                                    <div class="price"><span>$</span>299</div>
                                    <div class="date">Per Month</div>
                                </div>
                                <ul class="listContent">
                                    <li>
                                        Directory Listing on Aging In Home
                                    </li>
                                    <li>
                                        Consumers can find and contact your business through the Aging In Home Platform
                                    </li>
                                    <li>
                                        Social Media Managment
                                        <span>Five Network, Six posts per week / network Graphics & monorting</span>
                                    </li>
                                    <li>
                                        Social Media Linking <span>At Setup</span>
                                    </li>
                                    <li>
                                        Social Media Linking <span>At Setup</span>
                                    </li>
                                </ul>

                                <div class="button">
                                    <a href="#">Subscribe Now</a>
                                </div>
                            </div>
                            <!-- //Column -->
                        </div>
                        <div class="col-sm-3 ">
                            <!-- Column -->
                            <div class="column blueCol">
                                <div class="title">
                                    <h3>Basic</h3>
                                    <div class="price"><span>$</span>299</div>
                                    <div class="date">Per Month</div>
                                </div>
                                <ul class="listContent">
                                    <li>
                                        Directory Listing on Aging In Home
                                    </li>
                                    <li>
                                        Consumers can find and contact your business through the Aging In Home Platform
                                    </li>
                                    <li>
                                        Social Media Managment
                                        <span>Five Network, Six posts per week / network Graphics & monorting</span>
                                    </li>
                                    <li>
                                        Social Media Linking <span>At Setup</span>
                                    </li>
                                    <li>
                                        Social Media Linking <span>At Setup</span>
                                    </li>
                                </ul>

                                <div class="button">
                                    <a href="#">Subscribe Now</a>
                                </div>
                            </div>
                            <!-- //Column -->
                        </div>
                    </div>
                </div>
                <!-- //Pricing Table -->
                <!-- Become a provider Content -->
                <div class="ProviderContent">
                    <div class="rowText">
                        <h3>Promote Your Business to Millions of Homebound Customers</h3>
                        <p>Today, a growing population of Americans with limited mobility wants to continue living comfortably at home. But they often have trouble finding the products, services, and providers they need to live independently.</p>

                        <p>That leaves them with no choice but to move into an assisted living community or nursing home. Now, there is another way.</p>
                    </div>

                    <div class="rowText">
                        <h3>More Clients Can Find You on AgingInHome.com</h3>
                        <p>AgingInHome.com builds a direct connection between local businesses like yours and the caregivers, friends and family of those who are homebound or have limited mobility.</p>
                        <p>Our online marketplace makes your business highly visible online, showcasing your products and services so that they’re easy to find.</p>
                        <p>The easier it is for clients to find you, the more your business grows.</p>
                    </div>

                    <div class="rowText">
                        <h3>Boost Your Online Presence and Build Your Client Base</h3>
                        <p>We’ll help your business succeed at a fraction of the cost of hiring your own sales department. We’ve been in the healthcare industry for more than 10 years, and we specialize in creating marketing campaigns that get results.</p>

                        <ul>
                            <li>Grow your online presence</li>
                            <li>Connect with more clients</li>
                            <li>Build your business</li>
                        </ul>
                    </div>

                    <div class="rowText">
                        <h3>Custom Marketing Strategies for Your Business</h3>
                        <p>Listing your business on AgingInHome.com is just the beginning.</p>
                        <p><strong>We also offer a variety of proven services to promote your business and connect you with more clients:</strong></p>
                        <ul>
                            <li>Advertising</li>
                            <li>PPC ad campaign management</li>
                            <li>Social media management: Facebook, Twitter, etc.</li>
                            <li>Content marketing</li>
                            <li>Direct mail</li>
                        </ul>
                        <p>We take a proactive approach to building a coherent web strategy and marketing campaign tailored to your business.</p>
                    </div>


                    <div class="rowText">
                        <h3>Get Your Business Listed With Us</h3>
                        <p><strong>AgingInHome.com represents providers in more than 30 categories, including:</strong></p>

                        <ul class="row">
                            <li class="col-sm-6">Adult Day Care</li>
                            <li class="col-sm-6">Ambulance</li>
                            <li class="col-sm-6">Area Agency on Aging</li>
                            <li class="col-sm-6">Assisted Living Facility</li>
                            <li class="col-sm-6">Dentist</li>
                            <li class="col-sm-6">Elder Law</li>
                            <li class="col-sm-6">Emergency Response Service</li>
                            <li class="col-sm-6">Financial Planning</li>
                            <li class="col-sm-6">Furniture Mover</li>
                            <li class="col-sm-6">Geriatric Care Management</li>
                            <li class="col-sm-6">Grocery Delivery</li>
                            <li class="col-sm-6">Home Accessibility Consultant</li>
                            <li class="col-sm-6">Home Care Agency</li>
                            <li class="col-sm-6">Home Health Care Agency</li>
                            <li class="col-sm-6">House Cleaning</li>
                            <li class="col-sm-6">Insurance Services</li>
                            <li class="col-sm-6">Interior Design/Home Remodeling</li>
                            <li class="col-sm-6">Lifestyle Transaction Services</li>
                            <li class="col-sm-6">Money Management</li>
                            <li class="col-sm-6">Occupational Therapy</li>
                            <li class="col-sm-6">Optometrist</li>
                            <li class="col-sm-6">Pharmacy</li>
                            <li class="col-sm-6">Physical Therapy</li>
                            <li class="col-sm-6">Podiatrist</li>
                            <li class="col-sm-6">Primary Care Physician</li>
                            <li class="col-sm-6">Real Estate Services</li>
                            <li class="col-sm-6">Service Coordinator</li>
                            <li class="col-sm-6">Speech Therapist</li>
                        </ul>
                    </div>

                    <div class="rowText">
                        <h3>Making a Difference, One by One</h3>
                        <p>We work directly with clients and caregivers, connecting them one-on-one with local providers like you who offer the products and services necessary for those with limited mobility to stay at home.</p>
                        <p>Our approach gives you proven results. We believe it’s the right way to help people live at home safely, gracefully, and with dignity.</p>
                    </div>

                    <div class="rowText">
                        <h3>It's Easy to Get Started</h3>
                        <p>We make it easy to multiply your marketing efforts. Sign up with AgingInHome.com today and promote your business to millions of potential new clients.</p>
                    </div>

                    <div class="button text-center">
                        <a href="@Url.Action("SubmitListing")" class="btn btn-primary">GET STARTED NOW</a>
                    </div>

                </div>
                <!-- //Become a provider Content -->

            </div>
            <!-- //Package Content -->

        </div>
        <!-- //Content Box -->


    </div>
</div>
<!-- //Main Container -->
