
    <div class="title">
        <h3><span class="hamburgerIcon closeIcon"><i aria-hidden="true" class="fa fa-bars"></i></span> <span class="hamburgerIcon openIcon hide"><i aria-hidden="true" class="fa fa-bars"></i></span> Consumer wants your Services <span class="fav"><i aria-hidden="true" class="fa fa-star-o"></i></span></h3>

        <div class="actionBtn">
            <a href="#" class="ReplyIcon"><i aria-hidden="true" class="fa fa-paper-plane"></i> Send Appointment Request</a>
            <a href="#" class="deleteIcon">Archieve</a>
        </div>
    </div>

    <!-- Converstaion Content -->
    <div class="contentScroll mCustomScrollbar" style="height: 489px;">
        <!-- List Item -->
        <div class="listItem">
            <div class="image">
                <div class="img">
                    <img src="../images/sm-default-img.png" class="default">
                </div>
                <span class="status"></span>
            </div>
            <div class="detail">
                <h3>Leo Safro <span>7/29/2016 8:18:26 AM</span></h3>
                <div class="txt">
                    <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluptat. Lorem ipsum sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluptat.</p>
                    <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluptat. </p>

                </div>
            </div>
        </div>
        <!-- //List Item -->
        <!-- List Item -->
        <div class="listItem">
            <div class="image">
                <div class="img">
                    <img src="../images/sm-default-img.png" class="default">
                </div>
                <span class="status"></span>
            </div>
            <div class="detail">
                <h3>Leo Safro <span>7/29/2016 8:18:26 AM</span></h3>
                <div class="txt">
                    <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat voluptat.</p>

                </div>
            </div>
        </div>
        <!-- //List Item -->


    </div>


    <!-- //Converstaion Content -->
    <!-- Reply Form -->
    <div class="replyForm">
        <form>
            <button type="submit" class="btn btn-primary"><span class="xs-hidden">Send</span> <i aria-hidden="true" class="fa fa-paper-plane"></i></button>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter your message">
                <span class="icon">
                    <i aria-hidden="true" class="fa fa-smile-o"></i>
                    <i aria-hidden="true" class="fa fa-paperclip"></i>
                </span>
            </div>

        </form>
    </div>
