<div class="default-form serviceRequestField">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Service Date</label>
                <div class="input-group">
                    <input type="text" name="ServiceDate" class="form-control serviceDate" placeholder="07/26/2016" aria-describedby="basic-addon1">
                    <span class="input-group-addon" id="basic-addon1"><i aria-hidden="true" class="fa fa-calendar"></i></span>
                </div>
                <span class="validError serviceErrorMsg"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Best Time</label>
                <select class="selectpicker" name="BestTime">
                    <option value="">Select Best Time</option>
                    <option value="Anytime">Anytime</option>
                    <option value="Afternoon">Afternoon </option>
                    <option value="Morning">Morning</option>
                    <option value="Evening">Evening</option>
                </select>
                <span class="validError BestTimeErrorMsg"></span>
            </div>
        </div>
    </div>
</div>

@*<div class="col-lg-3 col-sm-4 col-xs-12">
    <div class="col-lg-5 col-sm-6 col-xs-6 removepadding">
        @Html.Label("Service Date",new { @class = "pull-right removemargin" })
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-6 removepadding">
        <input type="text" name="ServiceDate" value="" class="form-control serviceDate" style = "height: 25px !important;" />
        <span class="validError serviceErrorMsg"></span>
      
    </div>

</div>
<div class="col-lg-4 col-sm-4 col-xs-12">
    <div class="col-lg-3 col-sm-4 col-xs-6 removepadding">
        @Html.Label("Best Time",new { @class= "pull-right removemargin" })
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-6 removepadding">
        <select class="form-control col-lg-6 col-sm-6 col-xs-6 " name="BestTime" style="height: 30px !important">
            <option value="">Select Best Time</option>
            <option value="Anytime">Anytime</option>
            <option value="Afternoon">Afternoon </option>
            <option value="Morning">Morning</option>
            <option value="Evening">Evening</option>
        </select>
        <span class="validError BestTimeErrorMsg"></span>
    </div>
    </div>*@

    

<script>
    $(function () {
        //$("[name='ServiceDate']").datetimepicker({
        //$(".serviceDate").datepicker({
        //    autoclose: true,
        //    todayBtn: true,
        //    viewMode: 'years',
            
        //});
        $(".serviceDate").datepicker({ minDate: new Date() });
    })
</script>
